@CHARSET "UTF-8";

body {
	text-align: center;
}

.invitationmain {
	width: 320px;
	margin: 0 auto;
}

.title1 {
	font-family: 'proxima_nova_rgbold', Helvetica, Arial;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-align: center;
	text-transform: uppercase;
	border: 0.16em solid;
	margin: 0 auto;
	padding: 1.8% 0 1.7%;
}

.subtitle1 {
	font-size: 0.8em;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial;
}