@CHARSET "UTF-8";

body {
	text-align: center;
}

.main {
	width: 320px;
	margin: 0 auto;
}

.container {
	width: 320px;
	height: 608px;
}

.page3 {
	background-image: url(../images/page3@2x.jpg);
	background-size: 320px 608px;
}

.signInContainer {
	width: 250px;
	height: 200px;
	margin: 0 auto;
	padding-top: 95px;
	font-size: 12px;
}

.slidercontainer {
	width: 288px;
	height: 200px;
	margin: 0 auto;
	padding-top: 90px;
}

.remark {
	max-height: 67px;
	min-height: 67px;
}

.player {
	display: none;
}

.replace-2x {
	font-size: 1px;
}

.flexslider {
	width: 284px;
	height: 189px;
}

.thanks {
	width: 250px;
	margin: 80px 0;
	color: #ffffff;
	text-shadow: none;
}

.wallbody {
	/* background-image: url("../images/32.jpg"); */
	background-color: #60DFE5;
}

.wallcontainer {
	height: 650px;
	width: 1024px;
}

.left {
	width: 305px;
	float: left;
}

.qrcode {
	width: 100%;
	height: 100%;
	float: left;
	border-radius: 20px;
	border: 2px solid #ddd;
}

.qrtip {
	float: left;
	width: 100%;
}

.account {
	font-size: 20px;
	font: bold;
}

.main {
	margin: 2px 0px 0px 10px;
	float: left;
	width: 708px;
	height: 645px;
	overflow-y: auto;
	overflow-x: hidden;
}

.messagelist {
	height: 700px;
	padding: 0 10px;
	margin: 0;
}

.messageitem {
	list-style: none;
	width: 100%;
	height: 150px;
	margin: 0px 0px 10px 0px;
	opacity: 1 !important;
	border: 1px solid #215f8a;
	background: rgba(129, 216, 228, 0.8) none repeat scroll 0 0 !important;
	border-radius: 5px;
	position: relative;
}

.who {
	width: 112px;
	height: 112px;
	float: left;
	margin: 20px 20px 0 20px;
}

.avatar {
	width: 110px;
	height: 110px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #215f8a;
}

.name {
	float: left;
	text-align: left;
	width: 100%;
	font-size: 30px;
	height: 40px;
	line-height: 40px;
}

.what {
	width: 521px;
	height: 100%;
	float: left;
	border-radius: 10px;
	color: #000;
}

.text {
	width: 521px;
	text-align: left;
	float: left;
	font-size: 32px;
	display: block;
	height: 110px;
	text-overflow: ellipsis;
}