@CHARSET "UTF-8";

body {
	text-align: center;
}

.main {
	width: 320px;
	margin: 0 auto;
}

.container {
	width: 320px;
	height: 608px;
}

.page3 {
	background-image: url(../images/page3@2x.jpg);
	background-size: 320px 608px;
}

.signInContainer {
	width: 250px;
	height: 200px;
	margin: 0 auto;
	padding-top: 95px;
	font-size: 12px;
}

.slidercontainer {
	width: 288px;
	height: 200px;
	margin: 0 auto;
	padding-top: 95px;
}

.remark {
	max-height: 67px;
	min-height: 67px;
}

.player {
	display: none;
}